#gameMessage {
  max-width: fit-content;
  margin-left: auto;
  margin-right: auto;
}

#previousGuesses {
  max-width: fit-content;
  margin-left: auto;
  margin-right: auto;
}

#correctness {
  max-width: fit-content;
  margin-left: auto;
  margin-right: auto;
}

#guessContainer {
  max-width: fit-content;
  margin-left: auto;
  margin-right: auto;
}

#header {
  max-width: fit-content;
  margin-left: auto;
  margin-right: auto;
}
