#gameMessage {
  max-width: fit-content;
  margin-left: auto;
  margin-right: auto;
  padding: 25px 50px 75px;
}

#previousGuesses {
  max-width: fit-content;
  margin-left: auto;
  margin-right: auto;
}

#correctness {
  max-width: fit-content;
  margin-left: auto;
  margin-right: auto;
}

#guessContainer {
  max-width: fit-content;
  margin-left: auto;
  margin-right: auto;
}

h1 {
  text-align: center
}
